*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    text-decoration: none;
}

.header{
    display: flex;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 1px .5px 1px .5px whitesmoke;
    border: 1px solid whitesmoke;
    justify-content: space-between;
    margin-bottom: 10px;
    position: fixed;
    z-index: 6;
    background-color: white;
    /* align-items: center; */
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    color: dodgerblue;
    font-size: 13px;
    margin: 7px;
    padding: 5px 15px;
}
.nav-bar ul li a:hover{
    color: whitesmoke;
    background-color: dodgerblue;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.logo a{
    display: flex;
}
.add{
    display: flex;
    align-self: flex-end;
    color: dodgerblue;
    font-weight: 500;
}

.menu{
    width: 70%;
    margin: 10px auto ;

}
.menu ul::-webkit-scrollbar{
    display: none;
}
.menu h3{
    color: dodgerblue;
}
.menu ul{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 20px 0;
    overflow: auto;
}
.menu ul li a{
    padding: 5px 10px;
    color: dodgerblue;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 25%;
    margin: 5px;
    font-size: 13px;
    white-space: nowrap;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.menu ul li a:hover{
    color: whitesmoke;
    background-color: dodgerblue;
    cursor: pointer;
}
article{
    top: 60px;
    position: relative;
}
.search {
    width: 70%;
    margin: 0px auto;
    padding-top: 12px;
    display: flex;
    text-align: center;
    gap: 10px;
}
.search input{
    width: 100%;
    padding: 5px 10px;
    border: 1px solid dodgerblue;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.search button{
    border-radius: 10px;
    outline: none;
    border: 1px solid dodgerblue;
    padding: 5px 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}
/* LOADER */
.lds-ring {
    display: grid;
    text-align: center;
    place-content: center;
    place-items: center;
    position: relative;
    width: 100%;
    height: 50vh;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid dodgerblue;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: dodgerblue transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
footer{
    background-color: whitesmoke;
    padding: 30px;
    position: relative;
    
}
.foot, .feet{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feet{
    padding-top: 40px;
}
.foot ul{
    display: flex;
}
.foot ul li a{
    margin: 7px;
    padding: 6px 12px;
    font-size: 13px;
    color: dodgerblue;
}
.foot ul li a:hover{
    color: whitesmoke;
    background-color: dodgerblue;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.foot input, .foot button{
    padding: 5px 10px;
    border-radius: 8px;
    outline: none;
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.foot button{
    background-color: dodgerblue;
    color: whitesmoke;
}
.feet p{
    font-size: 14px;
}
.feet img{
    width: 35px;
}
.copy{
    display: flex;
    gap: 5px;
}

.video-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px auto;
    padding: 10px 0;
    place-items: center;
    width: 100%;
}
iframe{
    margin: 10px;
}
.error{
    display: grid;
    text-align: center;
    padding: 30px;
    font-size: large;

}
/* MEDIA QUERIES */
@media  screen and (max-width:900px) {
    .foot, .foot ul, .feet{
        display: block;
    }
    .foot ul li {
        padding: 5px 20px;
    }
    .foot ul{
        padding: 10px 0;
    }
    .socials{
        padding-top: 10px;
    }
    .socials img{
        width: 30px;
    }
    .menu ul{
        flex-wrap: wrap;
        width: 100%;
        padding: 10px 0;
    }
    .menu ul li a{
        margin: 10px 5px;

        padding: 3px 15px;
        flex: 50%;
    }
    .menu li{
        margin: 5px 0;
    }
    .video-card{
        display: block;
    }
    .header ul{
        display: none;
    }
    
    .hamburger {
        display: block;
        cursor: pointer;
      }
      .hamburger .line {
        width: 30px;
        height: 3px;
        background: dodgerblue;
        margin: 3px 0;
      }
      .nav-bar {
        height: 0px;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        width: 100%;
        background: white;
        transition: 1s;
        background-color: rgba(148, 145, 145, 0.747);
        overflow: hidden;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
    }
      .nav-bar.active {
        height: 450px;
      }
      .nav-bar.active ul {
        opacity: 1;
      }
      .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
      .nav-bar ul li {
        margin-bottom: 12px;
        color: rgba(249, 247, 247, 0.998);
      }
      .nav-bar ul li a:hover{
        color: rgba(249, 247, 247, 0.998)
      }
      h1 {
        font-size: 25px;
      }
      .video-card{
        display: block;
        text-align: center;
      }
      .lds-ring{
        height: 50vh;
      }
}
