.banner{
    height: 100vh;
    background-image: url('/images/Ticket section/gilles-lambert-pb_lF8VWaPU-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.banner h1{
    color: dodgerblue;
    font-size: 24px;
    transition-duration: 3s;
}